# Для Google Drive (заполни своими данными)
DRIVE_CLIENT_ID=твой-client-id
DRIVE_CLIENT_SECRET=твой-client-secret
DRIVE_REDIRECT=https://amvera-maxxmoto-run-lensflow.amvera.io/api/drive/callback

# Порт
PORT=3000
NODE_ENV=production
SESSION_SECRET=
